APP_NAME=Handesk
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAIL_FETCH_HOST=smtp.yourmail.com
MAIL_FETCH_PORT=110
MAIL_FETCH_USERNAME=hello@handesk.com
MAIL_FETCH_PASSWORD=secret-password
MAIL_FETCH_OPTIONS=/pop3
MAIL_FETCH_USE_SSL=true
// for options check https://secure.php.net/manual/de/function.imap-open.php

MAIL_SSLOPTIONS_ALLOW_SELF_SIGNED=false
MAIL_SSLOPTIONS_VERIFY_PEER=true
MAIL_SSLOPTIONS_VERIFY_PEER_NAME=true

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

//Leave ISSUES_DRIVER empty to not use any
ISSUES_DRIVER=bitbucket
BITBUCKET_USER=bitbucket-user-if-using-basic-auth
BITBUCKET_PASSWORD=bitbucket-password-if-using-basic-auth
BITBUCKET_OAUTH_KEY=bitbucket-oauth-key
BITBUCKET_OAUTH_SECRET=bitbucket-oauth-secret
