/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

ganjaran-public-dev-firebase-adminsdk-vg7gc-9295b44569.json