@import "Hurricane/Hurricane";

.sidebar{
  .pt4;
  overflow:auto;
  position: fixed;
  height: 100%;
  float: left;
  background-color:@dark-gray;
  width: @sidebar-width;

  img{
    margin-left: @size4 + @size4 + @size2;
    .mb1;
    height:59px;
  }

  h4{
    .ml4;
    color:@lighter-gray;
    margin-top: 4vh;
    margin-bottom: 4px;
    padding-bottom: 8px;
    /*border-bottom: 1px solid @light-gray;*/
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    cursor: default;
    i{
      font-size: 14px;
    }
  }

  ul{
    margin-top: 0;
    margin-bottom: 0;
  }

  li{
    .pl4; .pr2;
    list-style: none;
    display: flex;
    align-items: center;
    min-height: @size5 - @size4;
    height: 6vh;
    max-height: @size5 - @size2;
    position: relative;
    a{
      color: @light-gray;
      text-decoration: none;
      display: block;
      flex-grow: 1;
    }
    &.active{
      background-color:@darkest-gray;
      border-left:solid @size1 @brand-second;
      padding-left: @size4 - @size1;
      color:white;
      a{
        color:white;
      }
    }
  }
  .label{
    .mr2;
    font-size:12px;
    background-color: @brand-second;
    color:white;
    padding: 2px 6px;
    border-radius: 8px;
  }

  @media (max-width:@phone-max-size) {
    left: -@sidebar-width - 20;
    .shadow-outer-2;
    position:absolute;
    z-index:99;
  }
}


