@import "Hurricane/Hurricane";
@import "Hurricane/Hurricane-Basic";
@import "Hurricane/Hurricane-Dropdown";
@import "Hurricane/Hurricane-Tables";

@import "table";
@import "sidebar";
@import "inputs";

@import "TagsInput";

//* {  box-sizing: border-box; }

// APP
@sidebar-width:300px;

body{
  margin:0;
  font-family: Lato,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 100;
  color: @gray;
}

a{
  .text-decoration-none;
  color:@brand-second;
}

.gravatar{
  border-radius: 50%;
}

.tinyHeader{
  position: absolute;
  right: 35px;
  top: 20px;
}

.content{
  .pt4;
  margin-left: @sidebar-width;
  overflow:scroll;
}

.comment{
  .ph4; .pv4;
  .bb;
  min-height:50px;
}

.new-comment textarea{
  .br2;  .mb2; .p2;
  .w100;
  height:60px;
  border:1px solid @lighter-gray;
}

.description{
  .pt1; .pr3; .pb3; .pl4;
}

.description h3{
  font-weight:100;
  .fs3;
}

.label{
  .br1;
  .uppercase;
  .ph2; .pv1;
  font-size:10px;
}

.ticket-status-new{
  .white; .bg-danger;
}

.ticket-status-open{
  .white;  background-color:pink;
}

.ticket-status-pending{
  .white;  background-color:orange;
}

.ticket-status-solved{
  .white; .bg-success;
}

.ticket-status-closed{
  background-color:gray;  .white;
}

.lead-status-new{
  .bold; .white;  background-color:black;
}

.lead-status-first-contact{
  .bold; .white;  background-color:gray;
}

.lead-status-visited{
  .bold;  .white;  background-color:orange;
}

.lead-status-completed{
  .bold; .white;  .bg-success;
}

.lead-status-failed{
  .bold;  .white;  .bg-danger
}

.note{
  background-color: #FFF9E4;
}

.button{
  background-color:@brand;
  color:white;
  border:none;
  cursor: pointer;
  .p2;  .br1;  .shadow-hard;  .relative;
}

.button:active, button:active{
  top:2px;
  .shadow0;
}

.secondary{
  border:solid 1px @brand-second;
  background-color:transparent;
  color: @brand-second;
  font-weight:100;
  .shadow0;
  top:1px;
}

.ternary{
  background-color:transparent;
  color: @brand-second;
  border-color: @lighter-gray;
  font-weight:100;
  .shadow0;
  top:1px;
}

button{
  .button;
}

button:focus {outline:0;}

.actions{
  .pt3;
  background-color: @broken-white;
}

.date{
  color: @lighter-gray;
}

.pagination li{
  list-style: none;
  display: inline-block;
  .mr2;
}

.caret-down{
  padding: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -2px;
  vertical-align: text-top;
}